#footer {
			clear: both;
			height: auto;
			width: 970px;
			font-size: 11px;
			text-shadow: 0px 1px 1px #000;
			padding: 15px;
			color: #FFFFFF;
			display: block;
			line-height: 16px;
			margin-top: 0px;
			margin-right: auto;
			margin-bottom: 0px;
			margin-left: auto;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 0px;
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
			border-radius: 5px 5px 0px 0px;
			background-image: url(images/footer.png);
			background-repeat: repeat-x;
			background-position: left top;
			background-color: #5D9E3B;
			font-style: italic;
			font-weight: bold;
		}
		#footer ul {
			padding: 0px;
			clear: both;
			width: 100%;
			display: block;
			height: auto;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 5px;
			margin-left: 0px;
		}
		#footer  li {
			list-style-image: none;
			list-style-type: none;
			margin-right: 10px;
			padding: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			display: inline;
		}

		#footer-left {
			margin: 0px;
			padding: 0px;
			float: left;
			height: auto;
			width: 49%;
			text-align: left;

			position: relative;
		}
		#footer-right {
			margin: 0px;
			padding: 0px;
			float: right;
			height: auto;
			width: 49%;
			text-align: right;
			position: relative;
		}
		#footer a {
			color: #FFFFFF;
			text-decoration: none;

		}
		#footer a:hover {
			text-decoration: none;
			color: #c0c0c0;
			background-color: transparent;
		}
		#footer #devlink {
			font-size: 13px;
			font-weight: bold;
			text-transform: none;
		}

		#footer #credits {
			font-size: 11px;
			text-transform: none;
		}